/*Altera codificação da página para aceitar caracteres especiais*/
@charset "UTF-8";

/*Para toda página atribui determinada fonte*/
html{
    font-family: sans-serif;
}

/*Para todos os títulos atribui determinada fonte*/
h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen";
}

/* Adiciona o pseudo elemento :after com a propriedade clear para redimensionar os elementos flutuantes*/

.clearfix:after{
    content: ' ';
    display: block;
    clear:both;
}

/*Formata e estiliza os botões*/
.button{
    display: inline-block; /*Aplica-se "display: inline-block" pra ser possível atribuir as propriedades margin,padding etc*/
    padding: .9em 2.5em;
    background: #58c4c4;
    border-radius: 5px; /* Propriedade adiciona bordas ao bloco*/
    color:white;
    text-decoration: none; /*Propriedade retira o sublinhado do texto*/
}

/*Atribui a pseudo classe dinâmica "hover" a todo elemento contido em .button*/
.button:hover{
    background: #37a0a0;
}

/*Alinhar o logotipo*/
.top-header{
    text-align: center; /*Imagem sendo um elemento de linha, aplica-se a propriedade center */ 
}

/*Ajuste de margin da imagem da logo*/
.top-header-logo{
    margin:.5em;
}

/*Formata e estiliza a barra de navegação(NAV)*/
.top-nav{
    background:#612674;
    text-align: center;
}

/* Formata e estiliza todo conteúdo contido em .top-nav*/
.top-nav ul{
    margin: 0;
    padding: 0;
    list-style: none; /*Retira as bullets da ul*/
}

/*Formata e estiliza todos os elementos "a" contido em .top-nav*/
.top-nav a{
    color: white;
    text-decoration: none; /*Retira o sublinhado*/
    padding: 16px; /*Propriedade padding só pode ser aplicada em elementos de "block"*/
    display: block;  /**/
}

/*Atribui a pseudo classe dinâmica "hover" a todo elemento contido em .top-nav*/
.top-nav a:hover{
    background: #7c3792;
}


/*Formata e estiliza a seção 1*/

.top-content{
    padding: 1em;
    text-align: center;
    background:#f6f6f6;
}

.top-content-title{
    color: #612674;
    font-size: 1.375em; /* transforma px para unidade de medida em (22/16)*/
    margin: 1.375em;
}

.top-content-subtitle{
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5; /*Propriedade que define o espaço entre as linhas*/
}

/*Formata e estiliza os icones*/
.middle-content{
    padding: 2em;
    background:#f6f6f6;
    text-align: center;
}

/* Formata e estiliza o título da classe*/
.middle-content-title{
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
}

/*Formata todo conteúdo "p" dentro da classe .middle-content*/
.middle-content p{
    line-height: 1.5;
    color: #222;
}

/*formata a tag span que contém o atributo class através do seletor de atributo*/
.middle-content span[class^=icon] {
    font-size: 3.5em;
    color: #652e78;
}

/* Formata a classe main-content*/
.main-content{
    padding: 2em;
}

.main-content p{
    line-height: 1.5;
}

.main-content-article{
    margin-bottom: 3.5em;
}

.main-content-title{
    letter-spacing: .2em;
    text-align: left;
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
    font-weight: normal;
}

/* Formatar e estilizar o Rodapé*/

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer{
    background: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer-menushare{
    background: #303d4c;
    padding: .5em;
}
/* Formata os icones do Rodapé*/

.footer-menushare li{
    display: inline-block; /* Alinha de forma horizontal */
    margin:  0 1em; /* Adiciona espaçamento entre os icones*/
} 

.footer-menushare a {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

.footer-copyright{
    font-weight: bold;
}

 /* CSS Responsivo */

 @media screen and (min-width: 48.75em){ /* Transformar "px" para "em" 780px/16px*/

        /**/
        .top-header-logo{
            float: left;
        }

        .top-nav{
            background: transparent;
            float: right;
            margin-top: 27px;
        }

        .top-nav ul{
            margin: 0;
            padding: 0;
        }

        .top-nav li{
          display: inline-block;

        }

        .top-nav a {
            color: #713a84;
        }

        .top-nav a:hover {
           background: #e7d9fc;
        }



        /* Formata a classe top-content para desktop */
        .top-content{
            background: #521a66;
            color: white;
        }
        
        .top-content-title, .top-content-subtitle{
            color: white;
        }

    }   